<div class="card-wrapper" role="img" aria-label="card image">
  <div class="card">
    <img
      src="assets/img/mobile.png"
      class="img-fluid maxWidth:100% height:auto"
      alt="Responsive image"
    />
    <div class="card-body">
      <h5 class="card-title">Unique app ui</h5>
      <p class="card-text">
        It is a long established fact that a reader will be distracted by the
        reada
      </p>
    </div>
  </div>

  <!-- second card -->

  <div class="card">
    <img
      src="assets/img/tab.png"
      class="img-fluid maxWidth:100% height:auto"
      alt="Responsive image"
    />
    <div class="card-body">
      <h5 class="card-title">Exclient dashboard</h5>
      <p class="card-text">
        It is a long established fact that a reader will be distracted by the
        reada
      </p>
    </div>
  </div>

  <!-- third card -->

  <div class="card">
    <img
      src="assets/img/mobile.png"
      class="img-fluid maxWidth:100% height:auto"
      alt="Responsive image"
    />
    <div class="card-body">
      <h5 class="card-title">By construction</h5>
      <p class="card-text">
        It is a long established fact that a reader will be distracted by the
        reada
      </p>
    </div>
  </div>
</div>
