.card-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 7% 10%;
}

.card {
  background: #f9f9ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 50px 76px #0000000d;
  border-radius: 20px;
  opacity: 1;
  height: 400px;
  width: 260px;
}
.card-body {
  text-align: center;
  font-family: Roboto;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.card-text {
  font-weight: normal;
  color: #6b6969;
  opacity: 1;
}
