.header_items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-align: left;
  font-weight: normal;
  font-size: 1.375rem;
  font-family: Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
}
.nav_button {
  background-color: red;
}
.nav_design {
  display: flex;
}
.right_nav {
  display: flex;
  justify-content: space-around;
}
.left_nav {
  display: flex;
}
