<nav class="navbar nav_design" role="navigation" aria-label="Main">
  <div class="col-4 left_nav" role="img" aria-label="logo of navbar">
    <img src="assets/img/logo.png" alt="Responsive image" />
    <h4 style="color: #0d13d7">Apps</h4>
    <h4 style="color: #000000">Market</h4>
  </div>
  <div class="col-7">
    <div class="right_nav" role="navigation" aria-label="navbar link">
      <a>Home</a>
      <a>services us</a>
      <a>why us</a>
      <a>Our goals</a>
      <a>Our portfoao</a>
      <a>Our client</a>
      <button>contact us</button>
    </div>
  </div>
</nav>
