<div class="complete_box">
  <app-header></app-header>
  <div class="header_image">
    <img
      src="assets/img/women.png"
      class="img-fluid maxWidth:100% height:auto"
      alt="Responsive image"
    />
  </div>
  <div class="row complete_header_img">
    <div class="col-5 offset-1">
      <p class="img_nav_text">
        we create applications with excellent technology.
      </p>
      <p class="img_nav_sub_text">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at
      </p>
      <div class="download_div">
        <button class="btn-download">
          Download now
          <img src="assets/img/download.png" alt="Responsive image" />
        </button>
        <p class="explore">explore more</p>
        <img
          src="assets/img/right-arrow.png"
          class="img-fluid"
          alt="Responsive image"
          style="color: white"
        />
      </div>
    </div>
    <div class="col-6 iphone_inline_image">
      <img
        src="assets/img/iphone1.png"
        class="img-fluid"
        alt="Responsive image"
      />
      <img
        src="assets/img/iphone.png"
        alt="Responsive image"
        style="height: 500px; width: 250px; margin-top: -60px"
      />
      <img
        src="assets/img/iphone2.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
    <div class="second_heading col-6 offset-3">
      <h2>We provide various kind of service for you</h2>

      <h5>provide various kind of service for youprovide various kind of</h5>
      <h5 class="offset-4">service for you</h5>
    </div>
  </div>
</div>
