<nav
  class="navbar shadow-sm fixed-top navbar-expand-lg sticky-top navbar-light ft-navbar"
  [ngClass]="fullScreen ? 'stickyTop' : 'fixed-top'"
>
  <img class="logo" src="assets/img/download.jpg" />
  <label class="ml-auto"
    ><a routerLink="/app/signup">Create an account</a></label
  >
</nav>
<div class="col-12 bg p-0">
  <div class="col-12 p-0 logindomainbg">
    <div
      class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 loginBox text-center"
    >
      <h5 class="text-center font-weight-bold mt-5" i18n>Forgot Password</h5>
      <br />
      <form [formGroup]="regConfig" (ngSubmit)="submit($event)">
        <div class="form-group">
          <input
            i18n
            class="form-control"
            formControlName="email"
            type="email"
            placeholder="Email"
            maxlength="50"
          />
          <div class="col-12 text-left">
            <small class="text-danger" *ngIf="hasError('email', 'required')"
              >*Email is required</small
            >
            <small class="text-danger" *ngIf="hasError('email', 'email')"
              >*Email not valid</small
            >
            <small class="text-danger" *ngIf="hasError('email', 'maxlength')"
              >*Maximum characters exceeded</small
            >
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-md col-12">
            Submit
          </button>
        </div>
      </form>
      <small>
        <a routerLink="/app/login" class="text-center"
          >I remember my password</a
        >
      </small>
    </div>
  </div>
</div>
