<div class="md-form active-cyan active-cyan-2 mb-3 mt-5 ml-5 mr-5">
  <input
    class="form-control"
    type="text"
    placeholder="Search"
    aria-label="Search"
  />
</div>

<table id="customers">
  <thead>
    <th>Id</th>
    <th>
      Name
    </th>
    <th>
      Salary
    </th>

    <th>
      Age
    </th>
  </thead>

  <tbody>
    <tr *ngFor="let customer of customer">
      <td>{{ customer.id }}</td>
      <td>
        <span>{{ customer.employee_name | slice: 0:15 }}</span>
        <span
          *ngIf="customer.employee_name && customer.employee_name.length > 15"
          >...</span
        >
      </td>
      <td>{{ customer.employee_salary }}</td>
      <td>{{ customer.employee_age }}</td>
    </tr>
  </tbody>
</table>
