/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    /* This is more usable for users trying to click it. */
    background-color: #fff;
    -webkit-border-radius: 6px;
    width: 6px;
  }
  /* hover effect for both scrollbar area, and scrollbar 'thumb' */
  ::-webkit-scrollbar:hover {
    background-color: #fff;
  }
  
  /* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
  ::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars. 
       Yes, I pulled out digital color meter */
    background: #999;
    -webkit-border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:vertical:active {
    /* background: #888; Some darker color when you click it */
    -webkit-border-radius: 100px;
  }
  ::-webkit-scrollbar:horizontal {
    background: #999;
    height: 5px;
    -webkit-border-radius: 6px;
  }